widget-widget, widget-list-item, widget-list, widget-set, widget-tab, widget-tab-bar, widget-table-view {
    display: block;
}


widget-text-button, widget-tree-expand-button {
    display: inline;
}


widget-text-button, widget-tree-expand-button {
    font-family: monospace;
    cursor: pointer;
    -webkit-user-select: none;
}


widget-text-button[default_hidden], widget-tree-expand-button[default_hidden] {
    color: rgba(0, 0, 0, 0);
}


widget-text-button[default_hidden]:hover, widget-tree-expand-button[default_hidden]:hover {
    color: inherit;
}


layout-cell[grow] > widget-list, layout-cell[grow] > widget-tab-bar, layout-cell[grow] > widget-table-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


widget-list, widget-tab-bar, widget-table-view {
    overflow-y: auto;
}


widget-tab {
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
}


widget-tab-bar[layout="horizontal"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}


widget-tab-bar[layout="horizontal"] > widget-tab {
    flex-grow: 1;
    flex-shrink: 0;
}


widget-tab-bar[layout="vertical"] > widget-tab {
    display: block;
    padding: 0.2em;
}


widget-tab-bar[layout="horizontal"] > widget-tab[data-drag_enter_state="top2bottom"] {
    box-shadow: inset -0.1em 0em gold;
}


widget-tab-bar[layout="horizontal"] > widget-tab[data-drag_enter_state="bottom2top"] {
    box-shadow: inset 0.1em 0em gold;
}


widget-tab-bar[layout="vertical"] > widget-tab[data-drag_enter_state="top2bottom"] {
    box-shadow: inset 0em -0.1em gold;
}


widget-tab-bar[layout="vertical"] > widget-tab[data-drag_enter_state="bottom2top"] {
    box-shadow: inset 0em 0.1em gold;
}


widget-tree-expand-button {
    margin-right: 0.2em;
    visibility: hidden;
}


tr[data-has_child] > td:first-child > widget-tree-expand-button {
    visibility: visible;
}


widget-tab[current], tr[data-current] td {
    /* TODO: style improvement */
    background-color: #FF9;
}


widget-table-view[data-selectable] td {
    cursor: default;
    -webkit-user-select: none;
}


widget-table-view[data-non-tree] widget-tree-expand-button {
    display: none;
}


widget-modal-dialog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}