<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../subway_ui.css"/>
    <link rel="stylesheet" href="test_layout.css"/>
    <script type="text/javascript" src="../../simple.js"></script>
    <script type="text/javascript" src="../../subway_ui.js"></script>
    <title>Layout Test</title>
  </head>
  <body>
    <layout-container full="full">
      <layout-HBox>
	<layout-cell id="left">
	  <span>fixed width</span>
	</layout-cell>
	<layout-cell id="right">
	  <layout-VBox>
	    <layout-cell id="top">30% height</layout-cell>
	    <layout-cell id="bottom">70% height</layout-cell>
	  </layout-VBox>
	</layout-cell>
      </layout-HBox>
    </layout-container>
  </body>
</html>
