<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../subway_ui.css"/>
    <link rel="stylesheet" href="test_layout.css"/>
    <script type="text/javascript" src="../../simple.js"></script>
    <script type="text/javascript" src="../../subway_ui.js"></script>
    <title>Layout Test</title>
  </head>
  <body>
    <layout-container full="full">
      <layout-hbox>
	<layout-cell id="left" style="flex-basis: 200px;">
	  fixed width
	</layout-cell>
	<layout-vbox grow="grow">
	  <layout-cell id="top" style="flex-grow: 3;">30% height</layout-cell>
	  <layout-cell id="bottom" style="flex-grow: 7;">70% height</layout-cell>
	</layout-vbox>
      </layout-hbox>
    </layout-container>
  </body>
</html>
